VITE_SUPABASE_URL=https://mouhoqowshkhduiaiqlv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1vdWhvcW93c2hraGR1aWFpcWx2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg3ODkyOTQsImV4cCI6MjA5NDM2NTI5NH0.MvF2EZzp81drmpy0nTcFoerqgDIYoxlb_sH6v_0K8Vs
